.App {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #2d4c6e;
  color: #fff;
  text-transform: uppercase;
  padding: 0 1rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
